body{
    background-image:url(Images/Background.png); 
    color: aliceblue;
}
h1{
    text-align: center;
}
img{
    width: 300px;
    height:300px;

}
p{
    margin-left: 400px;
    font-size: 30px;
}
button{
    margin-left: 650px;
    padding: 10px;
    background-color: rgb(27, 125, 168);
    font-family: cursive;
    border-radius: 15px;
}
h2{
    text-align: center;
}